body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;

}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-open {
    visibility: hidden;
    opacity: 0;
    pointer-events: 0;
}

/*------------------------Reset styles for lists----------------- */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/*------------------------------------------------------------------*/

/*---------------------HEADER---------------------*/
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
        width: 100%;
        height: 100%;

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.nav-logo-link {
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}

.logo-link {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-list {
        display: none;
    gap: 40px;
}


.nav-item {
    padding: 24px 0;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.studio {
    color: #404bbf !important;
}

.studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 20px 0;
    position: relative;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: none;
    gap: 40px;
}

.address-item {}

.address-link:hover, .address-link:focus {
    color: #404bbf;
}

.address-link {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-menu {
    background-color: #ffffff;
    border: none;
}

.menu-icon {}

.mob-menu {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    
    /* opacity: 0;
    pointer-events: 0; */
}

.close-button-menu  {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list {}

.mob-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.mob-link:hover,
.mob-link:focus {
    color: #404bbf;
}

.mob-menu .studio::after {
    visibility: hidden;
}

.mob-address {
    font-style: normal;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-address-link:hover,
.mob-address-link:focus {
    color: #404bbf;
}

.mob-address-item {}

.address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-list {
    display: flex;
    gap: 40px;
}

.mob-social-item {
    width: 40px;
        height: 40px;
}

.mob-social-link {
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-icon {
    fill: #f4f4fd
}

.mob-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* --------------------------------------------------- */



/*---------------------PAGE---------------------*/
.page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mob.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
}

@media screen and 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 2dppx), 
(min-resolution: 192dpi) {
    .page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office-mob-2.jpg);
    }
}

.page .container {
}

.page-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 216px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
        margin-bottom: 72px;
}

.button:hover, .button:focus {
    background-color: #404BBF
}

.button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        display: block;
        max-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        min-width: 169px;
        margin: 0 auto;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------------------------------------------- */



/*---------------------CONTENT---------------------*/
.content {
    padding: 96px 0;
}  
    
.content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}


.content-item-icons {
    display: none;
    align-items: center;
    justify-content: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
}

.content-subtitle {
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
}

.content-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------------------------- */


/*---------------------TEAM---------------------*/
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.hero {
    padding: 32px 0;
}

.team-title {
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {
}

.hero-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.hero-text { 
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
        margin-bottom: 8px;
}

.social-icon-list {
    display: flex; 
    flex-wrap: wrap;

    justify-content: center;
    gap: 24px;
}

.social-icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover {
    background-color: #404bbf;
} 

.social-icon-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}
/* --------------------------------------------------- */



/*---------------------PORTFOLIO---------------------*/
.portfolio {
    padding: 96px 0 96px 0;
}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* width: calc((100% - 48px) / 3); */
    width: 100%;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.apps-img {
    position: relative;
    overflow: hidden;
}

.apps-text {
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item:hover .apps-img .apps-text {
    transform: translateY(0%);
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------------------------- */


/*---------------------ASIDE---------------------*/
.aside {
    max-width: 100%;
    background-color: #2e2f42;
    /* padding: 100px 0; */
    padding: 96px 16px;
}

.aside-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 288px;

        margin-bottom: 72px;
        text-align: left;
}

.aside .container {
    /* align-items: baseline; */
    max-width: 100%;
}

.aside-container {
    /* margin-right: 120px; */
    margin: 0 auto;
    text-align: center;
}

.aside .logo-link .logo {
    color:#f4f4fd;
}

.footer-logo-link {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}

.social-container {
    margin-bottom: 72px;
}

.social-list {
    display: flex;

    justify-content: center;
    
    gap: 16px;
}

.social-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
        margin-top: 0;
        
        text-align: center;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus{
background-color: #31d0aa;
} 

.social-icon {
fill: #f4f4fd
}

.aside-subscribe-text {
margin-bottom: 16px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
line-height: 150%;
letter-spacing: 0.02em;
color: #ffffff;

text-align: center;
}

.aside-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}
.aside-label {
    margin-bottom: 16px;
}

.aside-subscribe {
    margin: 0 auto;
/* margin-left: 80px; */
}

.aside-input {
/* width: 264px; */
width: 288px;
height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
}

.aside-form > input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.frame-icon {
margin-left: 16px;
fill: #ffffff;
}

/* --------------------------------------------------- */


/*--------------------------MODAL------------------------------*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
    /* opacity: 0;
    pointer-events: none; */


}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-button-menu:hover, .modal-close-button:hover {
background-color: #404bbf;
border: none;
}

.close-button-menu:focus, .modal-close-button:focus {
    background-color: #404bbf;
        border: none;
}

.close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-menu:focus, .modal-close-button:focus .close-icon {
    fill: #ffffff;
}

.close-button-menu:hover, .modal-close-button:hover .close-icon  {
fill: #ffffff;
}

.modal-window-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 16px;
}

.form {
    margin-bottom: 8px;
}

.form-label {
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.label-container {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
border-color: #4D5AE5;
}

.form-icon {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-container:focus-within .form-icon {
    fill: #4D5AE5;
}

.user-comment-container {
    margin-bottom: 16px;
}

.comment-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 120px;
        width: 100%;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:focus {
    border-color: #4D5AE5;
}

.form-checkbox-container {
    margin-bottom: 24px;
}

.privacy-input:checked + .privacy-label .label-span{
background-color: #404bbf;
border: none;
fill: #F4F4FD;
}

.privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label-span {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
border-radius: 2px;
}

.privacy-link {
    color: #4d5ae5;
}

.form-button-container {
    display: flex;
        justify-content: center;
        align-items: center;
}

.form-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
text-align: center;
border-radius: 4px;
}

/*--------------------------------------------------------------*/



@media screen and (min-width: 768px) {
    .container {
            width: 768px;
    }

    .page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
            url(../images/people-office-tab.jpg);
        max-width: 768px;
        padding: 112px 0;
    }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-tab-2.jpg);
            }
        }

    .page-title {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
        margin-bottom: 36px;
    }
    
        .content-list {
            flex-wrap: wrap;
            gap: 24px;
        }
    
        .content-item {
            width: calc((100% - 72px) / 2);
        }

        .content-subtitle {
            text-align: left;
        }

        .team-content {
            
        }

        .team-list { 
            gap: 24px;
        }

        .content-item {
            width: calc((100% - 24px) / 2);
        }
        
        .portfolio-item {
            width: calc((100% - 24px) / 2);
        }


        .portfolio-list {
            row-gap: 72px;
        }

                .social-text {
                    text-align: left;
                }

        .aside .container {
            display: flex;
            flex-wrap: wrap;
        }

        .aside-subscribe {
            margin-left: 108px;
        }

                .aside-form {
                    align-items: baseline;
                }

        .aside-subscribe-text {
            text-align: left;
        }

        .aside-container {
            text-align: left;
            margin-left: 108px;
            margin-right: 22px;
        }

        .modal-window {
            width: 408px;
        }


        .address {
            display: flex;
            font-style: normal;
            margin-left: auto;
        }

        .address-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

                .address-link {
                    font-weight: 400;
                        font-size: 12px;
                        line-height: 117%;
                        letter-spacing: 0.04em;
                }

        .nav-list {
            display: flex;
        }

        .button-menu {
            display: none;
        }

    .header {
        width: 100%;
            height: 82px;
    }

}

@media screen and (min-width: 1140px) {
    .container {
        width: 1140px;
    }

    .page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)), 
            url(../images/people-office.jpg);
        max-width: 1140px;
        padding: 188px 0;
        margin: 0 auto;
    }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-2.jpg);
            }
        }

    .page-title {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
        margin-bottom: 48px;
    }

        .content {
            padding: 120px 0;
        }

    .content-list {
        display: flex;
        justify-content: space-between;
    }


    .content-item {
        width: calc((100% - 72px) / 4);
    }

    .content-item-icons {
        display: flex;
    }

        .content-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
        }

        .content-text {
            font-weight: 400;
        }

        .team {
            padding: 120px 0;
        }

        .team-content {
        }

        .team-list {
            padding-left: 0%;
            padding-right: 0%;
            flex-wrap: nowrap;
        }

        .team-item {
            width: calc((100% - 72px) / 4);
        }

        .portfolio-item {
            width: calc((100% - 48px) / 3);
        }

        .portfolio {
            padding: 120px 0 120px 0;
        }
    
        .portfolio-list {
            row-gap: 48px;
        }

        .aside-form {
            flex-wrap: nowrap;
        }

        .aside-subscribe {
            margin-left: 80px;
        }

        .aside {
            padding: 100px 0;
        }

        .aside-text {
            margin-bottom: 100px;
            max-width: 264px;
        }

        .aside .container {
        display: flex;
        flex-wrap: nowrap;
            align-items: baseline;
        }

        .aside-container {
            margin-right: 120px;
            text-align: left;
            margin-left: 0;
        }

        .social-list {
            justify-content:baseline;
        }

                .social-text {
                    text-align: left;
                }

        .aside-subscribe {
            margin-left: 80px;
        }

                .aside-form {
                    flex-wrap: nowrap;
                }

        .aside-subscribe-text {
            text-align: left;
        }

        .social-container {
            margin-bottom: 0 auto;
        }

        .aside-input {
            width: 264px;
        }

        .modal-window {
            width: 408px;
        }

        .address-link {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
        }
        .address-list {
            display: flex;
            flex-direction: row;
        }

                .nav-list {
                    display: flex;
                }

        .button-menu {
            display: none;
        }

            .header {
                justify-content: center;
                /* max-width: 1140px; */
                    width: 100%;
                    height: 82px;
                }
    }
