body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/*---------------------NAVIGATION---------------------*/
.nav {}

.logo {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.nav .logo-link {
    font-family: "Raleway", sans-serif;
}

.logo-link {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-list {}

.nav-item {}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* --------------------------------------------------- */



/*---------------------ADDERESS---------------------*/
.address {
    font-style: normal;
}

.address-list {}

.address-item {}

.address-link:hover, .address-link:focus {
    color: #404bbf;
}

.address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------------------------- */



/*---------------------PAGE---------------------*/
.page {
    background-color: #2e2f42;
}

.page-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.button:hover, .button:focus {
    background-color: #404BBF
}

.button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
}

/* --------------------------------------------------- */



/*---------------------CONTENT---------------------*/
.content {}

.content-list {}

.content-item {}

.content-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.content-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------------------------- */


/*---------------------TEAM---------------------*/
.team {
    background-color: #F4F4FD
}

.team-title {
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.teem-list {
    background-color: #FFFFFF;
}

.team-item {
    background-color: #FFFFFF
}

.team-img {}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* --------------------------------------------------- */



/*---------------------PORTFOLIO---------------------*/
.portfolio {}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------------------------- */


/*---------------------ASIDE---------------------*/
.aside {
    background-color: #2e2f42;
}

.aside-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.aside .logo-link {
    font-family: "Raleway", sans-serif;
}

.aside .logo-link .logo {
    color:#f4f4fd;
}
/* --------------------------------------------------- */


/*------------------------Reset styles for lists----------------- */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
/*------------------------------------------------------------------*/