body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

}

img {
    display: block;
}


/*------------------------Reset styles for lists----------------- */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------------------------------------------------------------------*/

/*---------------------HEADER---------------------*/
.header {
    border-bottom: 1px solid #e7e9fc
    
}

.header .container {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.nav-logo-link {
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}

.logo-link {
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    padding: 24px 0;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

/* --------------------------------------------------- */



/*---------------------ADDERESS---------------------*/
.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item {}

.address-link:hover, .address-link:focus {
    color: #404bbf;
}

.address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------------------------- */



/*---------------------PAGE---------------------*/
.page {
    background-color: #2e2f42;
    padding: 188px 0;
}

.page-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}

.button:hover, .button:focus {
    background-color: #404BBF
}

.button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        display: block;
        max-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        min-width: 169px;
        margin: 0 auto;
}

/* --------------------------------------------------- */



/*---------------------CONTENT---------------------*/
.content {
    padding: 120px 0;
}

.content-list {
    display: flex;
    gap: 24px;
}

.content-item {
    width: calc((100% - 72px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.content-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------------------------- */


/*---------------------TEAM---------------------*/
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.hero {
    padding: 32px 0;
}

.team-title {
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.teem-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
}

.hero-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.hero-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
}

/* --------------------------------------------------- */



/*---------------------PORTFOLIO---------------------*/
.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
    text-transform: capitalize;
    font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-img {}


.apps {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* --------------------------------------------------- */


/*---------------------ASIDE---------------------*/
.aside {
    background-color: #2e2f42;
    padding: 100px 0;
}

.aside-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

.aside .logo-link .logo {
    color:#f4f4fd;
}

.footer-logo-link {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    margin-bottom: 16px;
}
/* --------------------------------------------------- */

